/* 

Custom styles written in order they appear in the index.html 


*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #ec9b3b;
    letter-spacing: 1px;
    position: relative;
    height: 100%;
}

.navbar .navbar-brand,
.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #ec9b3b;
}

.nav-link {
    animation: NavbarElementsMoveInFromRight 1s ease-out;
}

.navbar-header {
    animation: NavbarHeaderMoveInFromLeft 1s ease-out;
}

.navbar-header {
    font-weight: 700;
}

.header {
    background-image: linear-gradient(to right bottom, rgba(64, 64, 64, 0.8), rgba(0, 0, 0, 0.8)), url(../img/codingImg.jpg);
    height: 85vh;
    margin-bottom: 50px;
    background-size: cover;
    /* fills background in element */
    background-position: top;
    /* doesnt crop the top of img */
    position: relative;
    text-align: center;

    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}

.behind-header {
    height: 85vh;
    width: 100vw;
    position: absolute;
    top: 60px;
    background: linear-gradient(to bottom, #000000, #fff);
    z-index: -1;
}

.logo-box {
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
    animation: NavbarHeaderMoveInFromLeft 1s ease-out;
}

.logo-content-container {
    position: sticky;
    top: 70px;
    left: 0;
}

.logo-link {
    text-decoration: none;
    color: #ec9b3b;
    cursor: pointer;
}

.logo-link:hover,
.logo-link:visited,
.logo-link:link,
.logo-link:active {
    text-decoration: none;
    color: #ec9b3b;
}

.logo-img-corner {
    height: 75px;
}

.logo-caption {
    position: sticky;
    font-weight: 700;
}

.logo-img {
    margin-top: 0px;
    height: 250px;
    animation: logoMoveDownFromTop 2s ease-out;

}



.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header-primary {
    backface-visibility: hidden;
    /* fix shaking in animations */
}

.header-primary-main {
    font-weight: 400;
    font-size: 65px;
    display: block;
    letter-spacing: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    animation: moveInFromLeft 2s ease-out;
}

.header-primary-sub {
    font-weight: 700;
    font-size: 25px;
    display: block;
    padding-bottom: 30px;

    animation: moveInFromRight 2s ease-out;
}

.learn-more {
    margin-top: 10px;
    font-weight: 700;
    background: #ec9b3b;
    color: white;
    border: none;
    position: relative;
    height: 60px;
    font-size: 30px;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    animation: fadeIn 3s ease-out;
}

.learn-more:hover {
    background: white;
    color: #ec9b3b;
}

.learn-more:before,
.learn-more:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 4px;
    width: 0;
    background: #ec9b3b;
    transition: 400ms ease all;
}

.learn-more:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.learn-more:hover:before,
.learn-more:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.mission {
    padding-top: 100px;
    text-align: center;
}

.section-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.section-mission {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.section-subheader {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.mission-content {
    text-align: center;
    background: linear-gradient(to top, #F8F8F8, #fff)
}

.mission-statement {
    width: 45vw;
    text-align: left;
    font-size: 1.1rem;
    display: inline-block;
}

.mission-img {
    height: 20vh;
    float: right;
}

.about {
    padding-top: 100px;
    margin-bottom: 100px;
}

.flip-card {
    background-color: transparent;
    width: 275px;
    height: 300px;
    perspective: 1000px;
    margin: 50px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: ghostwhite;
    background-size: cover;
    background-position: top;
    margin-top: 20px;
}

.flip-card-front-content {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front-join {
    /* background-image: url(../img/joinImg.jpg); */
    background-image: url(https://i.ibb.co/YBybNgv/joinImg.jpg);
}

.flip-card-front-location {
    background-image: url(../img/locationImg.png);
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiaP2Pe5yc_l-aHMi56fbFOW2IegnVY3RZLHPwXKTQjR1KCQWb); */
}

.flip-card-front-project {
    /* background-image: url(../img/macWithCodingImg.jpg); */
    background-image: url(https://i.ibb.co/NZw7hCx/mac-With-Coding-Img.jpg);
}

.flip-card-front-support {
    /* background-image: url(../img/supportImg.jpg); */
    background-image: url(https://i.ibb.co/tXj8w1V/support-Img.jpg);
}

.flip-card-front-content {
    margin-top: 20px;
    font-size: 2rem;
}

.flip-card-front-font-large {
    font-size: 2rem;
}

.flip-card-front-font-small {
    font-size: 1.5rem;
}

.flip-card-front .flip-card-title {
    /* display: block; */
    width: 100%;
    text-align: center;
    background: rgba(254, 254, 254, 0.8);
    padding: 0.25rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    transform: translateY(250%);
}

/* Style the back side */
.flip-card-back {
    padding: 5px;
    background-color: ghostwhite;
    transform: rotateY(180deg);
    text-align: center;
}

.flip-card-back-content {
    height: 100%;
}

.flip-card-back-font-large {
    font-size: 20px;
}

.flip-card-back-font-medium {
    font-size: 17px;
}

.flip-card-back-dispay-block {
    display: block;
}

.projects {
    background: linear-gradient(to bottom, #F8F8F8, #fff);
    padding: 100px 30vw 0;
}

@media (max-width: 1192px) {
    .projects {
        padding: 100px 10vw 0;
    }
}

.project-header {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.project-container {
    padding-bottom: 50px;
}

.project-img {
    width: 25vw;
    float: right;
    padding: 5px;
}

.orbit-project-img {
    max-height: 200px;
}

.project-stats {
    font-size: 14px;
}

.stat-span {
    padding-right: 10px;
}

.footer {
    margin-top: 100px;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0.8), rgba(0, 0, 0, 0.8)), url(../img/codingMyth.jpg);
}

.footer-info-container {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: perspective(1px) translate(-50%, -40%);
}

.footer-info {
    display: block;
}

.footer-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* animations */
@keyframes logoMoveDownFromTop {
    0% {
        opacity: 1;
        transform: translateY(-800px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes NavbarHeaderMoveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes NavbarElementsMoveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}